@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #58a6ff;
  --bg-dark: #0d1117;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-dark);
  color: #c9d1d9;
  font-family: 'Fira Code', 'Segoe UI', monospace;
}
